@keyframes slideIn{
    0%{
        top: 0;
    }
    100%{
       top: -100%;
    }
}
@keyframes slideOut{
    100%{
        top: 0;
    }
    0%{
       top: 100%;
    }
}

.hide-portfolio{
    display: none;
}
.portfolio{
     width: 100%;
}

.hide-header{
    animation: 2s ease-in slideIn;
    animation-fill-mode: forwards;
}

.header-visible{
    width: 100%;
}
