.portfolio-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba($color: #000000, $alpha: 1.0);
    background-image: url(../../assets/images/space1.svg);
    background-position: center;
    background-size: 70%;
    height: 100vh;
    width: 100%;
}

.main{
    width: 100%;
    height: 80%;
}

.link{
    color: white;
    font-family:"LondrinaShadow";
    font-size: 5rem;

    &--pointer{
        cursor: pointer;
    }
}

.portfolio{
    display: flex;
    justify-content: center;
    height: 80vh;
}

.left-star, .right-star{
    width: 35rem;
    height: 27rem;
    background-image: url(../../assets/images/star.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-star-test{
    width: 45rem;
    height: 37rem;
    background-image: url(../../assets/images/star.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-star-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
   
    &__description{
    text-align: center;
    font-family:"OpenSansHebrewCondensed";
    line-height: 135%;
   }

    &__stack{
    text-align: center;
    font-family:"OpenSansHebrewCondensed";
    line-height: 135%;
   }

    &__language{
    text-align: center;
    font-family:"OpenSansHebrewCondensed";
    line-height: 135%;
   }

   &__header{
    font-family:"VastShadow";
    font-size: 1.25em;
    text-align: center;
    padding-bottom: 1rem;
   }

   &--hover{
    display: none;
   }
}

.left-star-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
   
    &__description{
    text-align: center;
    font-family:"OpenSansHebrewCondensed";
    line-height: 135%;
    font-size: 0.9em;
   }

    &__stack{
    text-align: center;
    font-family:"OpenSansHebrewCondensed";
    line-height: 135%;
    font-size: 0.9em;
   }

    &__language{
    text-align: center;
    font-family:"OpenSansHebrewCondensed";
    line-height: 135%;
    font-size: 0.9em;
   }

   &__header{
    font-family:"VastShadow";
    font-size: 1em;
    text-align: center;
    padding-bottom: 1rem;
   }

   &--hover{
    display: none;
   }
}
.right-star-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
   
    &__description{
    text-align: center;
    font-family:"OpenSansHebrewCondensed";
    line-height: 135%;
    font-size: 0.9em;
   }

    &__stack{
    text-align: center;
    font-family:"OpenSansHebrewCondensed";
    line-height: 135%;
    font-size: 0.9em;
   }

    &__language{
    text-align: center;
    font-family:"OpenSansHebrewCondensed";
    line-height: 135%;
    font-size: 0.9em;
   }

   &__header{
    font-family:"VastShadow";
    font-size: 1em;
    text-align: center;
    padding-bottom: 1rem;
   }

   &--hover{
    display: none;
   }
}

.portfolio-footer{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.main-star-text:hover .main-star-text--hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
    font-family:"VastShadow";
    font-size: 2.5em;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.right-star-text:hover .right-star-text--hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
    font-family:"VastShadow";
    font-size: 2em;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.left-star-text:hover .left-star-text--hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
    font-family:"VastShadow";
    font-size: 2em;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.main-star-text:hover .main-star-text__header, .main-star-text:hover  .main-star-text__description, .main-star-text:hover .main-star-text__stack, .main-star-text:hover .main-star-text__language{
    display: none;
}
.right-star-text:hover .right-star-text__header, .right-star-text:hover  .right-star-text__description, .right-star-text:hover .right-star-text__stack, .right-star-text:hover .right-star-text__language{
    display: none;
}
.left-star-text:hover .left-star-text__header, .left-star-text:hover  .left-star-text__description, .left-star-text:hover .left-star-text__stack, .left-star-text:hover .left-star-text__language{
    display: none;
}