.portfolio-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba($color: #000000, $alpha: 1.0);
    background-image: url(../../assets/images/space1.svg);
    background-position: center;
    background-size: 70%;
    height: 100vh;
    width: 100%;
}

.main{
    width: 100%;
    height: 80%;
}

.link{
    color: white;
    font-family:"LondrinaShadow";
    font-size: 5rem;
}

.portfolio{
    display: flex;
    justify-content: center;
    height: 80vh;
}

.main-star{
    width: 35rem;
    height: 35rem;
    background-image: url(../../assets/images/star.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-star-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
   
    &__description{
    text-align: center;
    font-family:"OpenSansHebrewCondensed";
    line-height: 135%;
   }

    &__stack{
    text-align: center;
    font-family:"OpenSansHebrewCondensed";
    line-height: 135%;
   }

    &__language{
    text-align: center;
    font-family:"OpenSansHebrewCondensed";
    line-height: 135%;
   }

   &__header{
    font-family:"VastShadow";
    font-size: 2em;
    text-align: center;
    padding-bottom: 1rem;
   }
}

.left-star{
    width: 25rem;
    height: 35vh;
    background-image: url(../../assets/images/star.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-star{
    width: 25rem;
    height: 35vh;
    background-image: url(../../assets/images/star.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-footer{
    height: 100%;
    display: flex;
    align-items: flex-end;
}