<div class="portfolio-page-container">
    <section class="main">
        <div class="portfolio">
            <div class="left-star"><p>Mosaic Me</p></div>
            <div class="main-star">
                <div class="main-star-text">
                    <h2 class="main-star-text__h2">FootPrint - Live</h2>
                        <p class="main-star-text__p">Description: Carbon Output Tracker
                        <br>Stack: Angular Spring Boot MySQL
                        <br>Languages: Typescript, Java, SQL</p>
                </div>
            </div>
            <div class="right-star"><p>Archive</p></div>
        </div>
    </section>

    <section class="portfolio-footer">
        <a class="link" routerLink="">BACK TO TOP</a>
    </section>
</div>
